<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/demo.css}" href="../static/login/css/demo.css"/>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/component.css}" href="../static/login/css/component.css"/>
</head>
<body>
    <!--<p th:text="${name}">name</p>
    <p th:text="|HELLO!  ${name}|">helloword</p>-->
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div class="logo_box">
                    <h3>欢迎你</h3>
                    <form th:action="@{/login.zhtml}" method="post" th:object="${loginForm}">
                        <div class="input_outer">
                            <span class="u_user"></span>
                            <input  class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户" th:field="*{username}" >
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"></span>
                            <input class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码" th:field="*{password}">
                        </div>
                        <div class="mb2"><button th:type="submit" id="submitBtn" class="act-but submit" havascripref="jt:;" style="color: #FFFFFF">登录</button></div>
                        <!--<div class="mb2"><a class="act-but submit" havascripref="jt:;" style="color: #FFFFFF">登录</a></div>-->
                        <p class="loginAlert mb-10" style="color: red" th:text="(${exception} == null)?'':${exception.errorMessage}"></p>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /container -->
</body>
<script src="../static/login/js/TweenLite.min.js" th:src="@{/login/js/TweenLite.min.js}"></script>
<script src="../static/login/js/EasePack.min.js" th:src="@{/login/js/EasePack.min.js}"></script>
<script src="../static/login/js/rAF.js" th:src="@{/login/js/rAF.js}"></script>
<script src="../static/login/js/demo-1.js" th:src="@{/login/js/demo-1.js}"></script>
</html>