<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.i9.xiaofang.service.repository.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="org.i9.xiaofang.service.repository.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="idCard" property="idCard" jdbcType="VARCHAR" />
    <result column="idCardPicAddr" property="idCardPicAddr" jdbcType="VARCHAR" />
    <result column="ifcheck" property="ifcheck" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="wechatId" property="wechatId" jdbcType="VARCHAR" />
    <result column="wechatName" property="wechatName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="familyPhone" property="familyPhone" jdbcType="VARCHAR" />
    <result column="ifBinding" property="ifBinding" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, phone, password, idCard, idCardPicAddr, ifcheck, createTime, wechatId, 
    wechatName, state, familyPhone, ifBinding, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.i9.xiaofang.service.repository.model.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.i9.xiaofang.service.repository.model.UserExample" >
    delete from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.i9.xiaofang.service.repository.model.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user (name, phone, password, 
      idCard, idCardPicAddr, ifcheck, 
      createTime, wechatId, wechatName, 
      state, familyPhone, ifBinding, 
      description)
    values (#{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{idCardPicAddr,jdbcType=VARCHAR}, #{ifcheck,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{wechatId,jdbcType=VARCHAR}, #{wechatName,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{familyPhone,jdbcType=VARCHAR}, #{ifBinding,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.i9.xiaofang.service.repository.model.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="idCard != null" >
        idCard,
      </if>
      <if test="idCardPicAddr != null" >
        idCardPicAddr,
      </if>
      <if test="ifcheck != null" >
        ifcheck,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="wechatId != null" >
        wechatId,
      </if>
      <if test="wechatName != null" >
        wechatName,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="familyPhone != null" >
        familyPhone,
      </if>
      <if test="ifBinding != null" >
        ifBinding,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardPicAddr != null" >
        #{idCardPicAddr,jdbcType=VARCHAR},
      </if>
      <if test="ifcheck != null" >
        #{ifcheck,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="wechatName != null" >
        #{wechatName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="familyPhone != null" >
        #{familyPhone,jdbcType=VARCHAR},
      </if>
      <if test="ifBinding != null" >
        #{ifBinding,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.i9.xiaofang.service.repository.model.UserExample" resultType="java.lang.Integer" >
    select count(*) from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        idCard = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardPicAddr != null" >
        idCardPicAddr = #{record.idCardPicAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.ifcheck != null" >
        ifcheck = #{record.ifcheck,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wechatId != null" >
        wechatId = #{record.wechatId,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatName != null" >
        wechatName = #{record.wechatName,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.familyPhone != null" >
        familyPhone = #{record.familyPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.ifBinding != null" >
        ifBinding = #{record.ifBinding,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      idCard = #{record.idCard,jdbcType=VARCHAR},
      idCardPicAddr = #{record.idCardPicAddr,jdbcType=VARCHAR},
      ifcheck = #{record.ifcheck,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      wechatId = #{record.wechatId,jdbcType=VARCHAR},
      wechatName = #{record.wechatName,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      familyPhone = #{record.familyPhone,jdbcType=VARCHAR},
      ifBinding = #{record.ifBinding,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.i9.xiaofang.service.repository.model.User" >
    update t_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        idCard = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardPicAddr != null" >
        idCardPicAddr = #{idCardPicAddr,jdbcType=VARCHAR},
      </if>
      <if test="ifcheck != null" >
        ifcheck = #{ifcheck,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatId != null" >
        wechatId = #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="wechatName != null" >
        wechatName = #{wechatName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="familyPhone != null" >
        familyPhone = #{familyPhone,jdbcType=VARCHAR},
      </if>
      <if test="ifBinding != null" >
        ifBinding = #{ifBinding,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.i9.xiaofang.service.repository.model.User" >
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      idCard = #{idCard,jdbcType=VARCHAR},
      idCardPicAddr = #{idCardPicAddr,jdbcType=VARCHAR},
      ifcheck = #{ifcheck,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      wechatId = #{wechatId,jdbcType=VARCHAR},
      wechatName = #{wechatName,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      familyPhone = #{familyPhone,jdbcType=VARCHAR},
      ifBinding = #{ifBinding,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>